#hesapMakinesi {
    width: 350px;
    border: 1px solid gray;
   
  }

  #ekran {
    padding: 10px 0px 10px 0px;
    text-align: center;
  }

  #sonuc {
    background-color: red;
    padding: 10px;
    width: 90%;
    border: .5px;
    text-align: right;
    font-size: 50px;
    word-wrap: break-word;
    
  }

  #sayilar {
    text-align: center;
    font-weight: bold;
    color: rgb(76, 75, 75);
  }
  #esittir{
    color: white;
    background-color: red;
  }

  button {
    width: 70px;
    height: 50px;
    margin: 5px;
    border-radius: 50%;
     background-color: rgba(212, 210, 210, 0.611);
    border: none;
  }